<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <style>body{width:75%;margin: 0 auto;}</style>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>

        <form action="/order/add" method="POST">
            <br>
            <div><label class="form-label" for="customers">Customer Id</label><br>
                <select name="customers" class="form-select" aria-label="Default select example">
                    <% customers.forEach( (customer) => { %>
                        <option value="<%= customer.customer_id %>">
                            <%= customer.customer_id %> <%= customer.name %>
                        </option>
                    <% }) %>
                </select><br>
            </div>
            <div>
            <label class="form-label" for="products">Product Id</label><br>
                <select name="products" class="form-select" aria-label="Default select example">
                    <% products.forEach( (product) => { %>
                        <option value="<%= product.product_id %>">
                            <%= product.product_id %> <%= product.name %>
                        </option>
                    <% }) %>
                </select><br>
            </div>
            <div class="mb-3">
                <label class="form-label" for="quantity">Quantity</label><br>
                <input class="form-control" type="number" name="quantity" placeholder="0">
            </div>
            <br><br>
            <input type="submit" class="btn btn-primary">
        </form>
    </body>
</html>